/* Background Styling */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("/images/bi.jpg") no-repeat center center;
  background-size: cover;
}

/* Login Box */
.login-box {
  padding: 30px;
  
  width: 350px;
}

/* Form Elements */
.center-text {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  display: grid;
  justify-items: stretch;
  margin-bottom: 15px;
}

.input-error {
  border: 1px solid red;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

/* Button */
button {
  width: 50%;
  align-items: center;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

/* Sign Up Link */
.toggle-link {
  color: #007BFF;
  text-decoration: underline;
}

.login{
  height: 50px;
  width: 100px;
}

