.food-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.food-btn:hover {
    background-color: #218838;
}

.cart-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px;
}

.cart-btn:hover {
    background-color: #0056b3;
}

.remove-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.remove-btn:hover {
    background-color: #c82333;
}
